DATABASE_URL=DATABASE_URL
AZURE_OPENAI_ENDPOINT=AZURE_OPENAI_ENDPOINT
AZURE_OPENAI_API_KEY=AZURE_OPENAI_API_KEY
AZURE_OPENAI_DEPLOYMENT=AZURE_OPENAI_DEPLOYMENT
AZURE_OPENAI_API_VERSION=AZURE_OPENAI_API_VERSION
SECRET_KEY=SECRET_KEY